/* CSS files add styling rules to your content */


.container {
  border: 5px black solid;
}


.menu {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 50px;
  font-size: 30px;
  align-items: center;
}

.plantlightbulb {
  width: 300px;
  height: 400px;
  margin-left: 100px;
}

.tipsbigtext {
  font-size: 40px;
  font-color: white;
  margin: 40px;
}

.greenbackground {
  display: flex;
  flex-direction
  height: 500px;
  width: 400px;
  background-color: #6495ED;
  color: white;
}

.slogan {
  height: 250px;
  width: 500px;
  border: red solid 2px;
}

.description {
  border: greed solid 2px;
  width: 500px;
  height: 400px;
}
body {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 20px;
}

.body {
  font-size: 20px;
}


.row {
  border: purple solid 2px;
}

.housepicture {
  width: 500px;
  height: 300px;
  margin: 20px;
}

.col {
  border: orange solid 2px;
  margin: 20px;
}

.headercol {
    border: orange solid 2px;
}


.titles {
  font-size: 40px;
}