/* CSS files add styling rules to your content */

.container {
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 500px;
  height: 50px;
  font-size: 30px;
  align-items: center;
}

.plantlightbulb {
  width: 300px;
  height: 400px;
  margin-left: 100px;
  margin-top: 40px;
}

.lightbulbicon {
  width: 40px;
  height: 50px;
  margin-top: 10px;
  margin-left: 20px;
}

.titlebigtext {
  font-size: 40px;
  font-color: white;
  font-weight: bold;
  margin-top: 70px;
}

.bluebackground {
  display: flex;
  height: 500px;
  width: 400px;
  background-color: #6495ED;
  color: white;
}

.slogan {
  margin: 40px;
}

body {
  font-family: "Lucida Console", Courier, monospace;
  font-size: 20px;
}

.description {
  margin-top: 100px;
  color: white;
}

.row {

}

.housepicture {
  width: 500px;
  height: 300px;
  margin: 20px;
}

.col {
  margin: 20px;
}

.titles {
  font-size: 30px;
  font-weight: bold;
}

button {
  background-color: yellowgreen;
  width: 100px;
  height: 50px;
  color: white;
  border: white;
}

.footer {
  display: flex;
  background-color: #6495ED;
  color: white;
}

.greenbackground {
  background-color: yellowgreen;
}

a,
a:hover {
  color: inherit;
}
